// fonts
$font-small:                    12px;
$font-main:                     14px;
$font-large:                    18px;

// colors
$color-main:                  #000;
$firm-color:                  #ccc;
$firm-color-dark:             rgb(180, 180, 180);
$color-white:                 #fff;

// font-weight
$font-weight-light:              300;
$font-weight-main:               400;
$font-weight-bold:               600;
$font-weight-medium:             500;

// paddings
$padding-width:                 16px;

// sidebar
$sidebar-width:                100px;
